#mobile-outline {
   outline: 20px solid #333;
   max-width: 412px;
   margin: 20px auto 20px auto;
   border-radius: 10px;
} 

/* appears at desktop and above */
@media screen and (min-width: 1200px) {
   #hidden-box{
      display: block;
   }
}